<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="menu_technologies_logo.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Menu FOREX</title>
</head>
<body class="d-flex flex-column h-100">

<!-- Header -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">MENU Forex</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="" class="nav-link active" style="background-color: #2F3452" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #2F3452">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #2F3452">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #2F3452">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #2F3452">About</a></li>
        </ul>
    </header>
</div>

<!-- Section with rates -->
<main class="flex-shrink-0">
    <div id="app" class="container text-center">

        <div class="row">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="menu_technologies_logo.jpeg" alt="" width="200" height="200">
                <h1 class="display-5 fw-bold text-body-emphasis">Buy foreign currencies</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Easily and hassle-free convert your shiny dollars into one of our accepted currencies, with best rates on the market. Enjoy your stay!</p>
                </div>
            </div>
        </div>

        <!-- Selection -->
        <div v-if="!order">
            <div class="row">
                <div class="col-3"></div>
                <div class="text-center col-6">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="input-group">
                            <input v-model="amount" @keydown="isNumber" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">{{ selectedCurrency != null ? selectedCurrency.symbol : '' }}</span>
                        </div>


                        <select class="form-select form-select-sm" aria-label="Small select example" v-model="selectedCurrency">
                            <option v-for="(currency, index) in currencies" :key="index" :value="currency">{{ currency.name }}</option>
                        </select>

                        <button :disabled="amount == null" class="btn btn-outline-secondary" @click="calculate()">Calculate</button>
                    </div>
                </div>
            </div>

            <!-- Calculation -->
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div v-if="calculation" class="text-start mt-5">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item active">Calculated values:</li>
                                <li v-if="calculation.discount_amount" class="list-group-item">Discount amount: USD {{ calculation.discount_amount }}</li>
                                <li v-if="calculation.discount_percentage" class="list-group-item">Discount percentage: {{ calculation.discount_percentage }}%</li>
                                <li class="list-group-item">Exchange rate: {{ calculation.exchange_rate }}</li>
                                <li class="list-group-item">Desired amount: {{ calculation.symbol}} {{ calculation.purchased_amount }}</li>
                                <li class="list-group-item">Total price: USD {{ calculation.total_price }}</li>
                            </ul>
                        </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
                            <input class="form-control" v-model="email" type="email" placeholder="Your email" aria-label="Email" aria-describedby="basic-addon2">
                            <button @click="confirm()" :disabled="isDisabled" class="btn btn-outline-secondary">Purchase</button>
                            <button @click="cancel()" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order -->
        <div v-else class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="text-start">
                    <p class="text-"></p>
                    <ul class="list-group">
                        <li class="list-group-item active">Order details:</li>
                        <li v-if="order.discount_amount" class="list-group-item">Discount amount: USD {{ order.discount_amount }}</li>
                        <li v-if="order.discount_percentage" class="list-group-item">Discount percentage: {{ order.discount_percentage }}%</li>
                        <li class="list-group-item">Exchange rate: {{ order.exchange_rate }}</li>
                        <li class="list-group-item">Desired amount: {{ selectedCurrency.symbol }} {{ order.purchased_amount }}</li>
                        <li class="list-group-item">Total price: USD {{ order.total_price }}</li>
                        <li class="list-group-item">Created At: {{ order.created_at }}</li>
                    </ul>
                </div>
                <div class="mt-3 text-center">
                    <button @click="clear()" class="btn btn-success">
                        Done
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        </div>
</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container">
        <span class="text-muted">Non-commercial usage, developed by Vladimir Vulovic</span>
    </div>
</footer>

<script src="index.js"></script>
</body>
</html>

